<form method="post" action="/memos">
  <br>
  <label>
    <input type="text" name="title" size="30" value=<%= File.basename(params[:title], ".*") %>>
  </label>
  <br>
  <p>
    <label for="t_content"></label><br>
    <textarea id="t_content" name="content" placeholder="内容" cols="32" rows="10"><%= escape(@memo.read) %></textarea>
  </p>

  <input type="submit" class="show_btn" value="更新">

</form>