<form method="post" action="/memos">
  <br>
  <input type="text" name="title" placeholder="タイトル" size="30">
  <br>
  <p>
    <label for="t_content"></label><br>
    <textarea id="t_content" name="content" placeholder="内容" cols="32" rows="10"></textarea>
  </p>


  <input type="submit" value="保存">
  <input type="reset" value="クリア">
</form>

